@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.View_main{ 
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}



.Images-7-section {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.waviy-Page4 {
  color: white;
  letter-spacing: 0.2em;
  font-size: 45px;
}