@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400&display=swap');

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: black;
}
::-webkit-scrollbar-thumb {
  border-radius: 80px;
  border: 0;
  background-color: rgb(0, 218, 196);
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.Landing_main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
#light {
  background-color: #ffffff;
}

#dark {
  background-color: #090d00;
  color: white;
}


.Landing_main1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 780px;
  background-color: rgb(29, 29, 29);
  z-index: -1;
}
 .Landing_main2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  text-align: center;
  line-height: 30px;
  padding-bottom: 10%;
  column-gap: 150px;
}
.Video_Landing {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  filter: brightness(0.4);
}
.Video_text{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 30px;
}
.Video_text2{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  font-family: 'Montserrat', sans-serif;
  line-height: 45px;
  text-align: justify;
}
.Video_Landing2 {
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: brightness(0.3);
}
.Video_Landing4 {
  width: 100%;
  z-index: -1;
  filter: brightness(0.3);
}

.Text_video_2 {
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
}
.Image5 {
  transition: 1s;
  -webkit-user-select: none; 
  width: 350px;
}
.Image5:hover {
  transform: rotate(180deg);
  transition: 1s;
  cursor: pointer;
}
.Search_navbar2 {
  cursor: pointer;
  position: absolute;
  margin-left: 20%;
  margin-top: 3%;
  z-index: 1;
  fill: rgb(131, 33, 33);
}
.Search_navbar2:hover {
  fill: red;
  color: rgb(0, 82, 0);
}
.Image11 {
  width: 100%;
}
.Image12 {
  width: 300px;
  height: 300px;
  transition: 1s;
}
.Image12:hover {
  filter: brightness(0.4);
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.1)
}

.Landing_main3 {
  width: 100%;
  display: flex;
  column-gap: 50px;
}
.Landing_main_3 {
  font-family: 'Libre Baskerville', serif;
  display: flex;
  align-items: center;
  width: 97%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-right: 3%;
  column-gap: 50px;
  padding-bottom: 2%;
}
.Landing_main_33 {
  font-family: 'Libre Baskerville', serif;
  display: flex;
  align-items: center;
  width: 94%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-right: 3%;
  column-gap: 50px;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 3%;
}
.Landing_main3text {
  width: 20vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
}
.Landing_main3_right {
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.Landing_main3text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.Landing_main3text2 > p {
  width: 500px;
  line-height: 30px;
}
.Landing_main3text2 > b {
  line-height: 30px;
}


.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}
.checkbox{
  position:absolute;
  opacity:0;
}
.fa-moon{
  fill: #f1c40f;
}
.fa-sun{
  fill: #f1c40f;
}

.checkbox:checked + .label .ball{
transform: translateX(24px);
}

#dark .label {
  background-color: rgb(255, 255, 255);
  height: 10px;
  width: 30px;
  justify-content:space-between;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 5px;
  position:fixed;
  transform:scale(1.5);
  z-index: 100;
}
#dark .ball {
  background-color:rgb(2, 2, 2);
  width:17px;
  height:17px;
  top:2px;
  left:-2px;
  border-radius:50%;
  position:absolute;
  transition: transform 0.2s linear;
  z-index: 15;
}
#dark .fa-moon{
  fill: #000000;
}
.label 
{
    background-color: #111;
    height: 10px;
    width: 30px;
    justify-content:space-between;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    position:fixed;
    top: 4.5%;
    margin-left: 0.5%;
    right: 1%;
    transform:scale(1.5);
    z-index: 100;
}

.ball{
  background-color:rgb(255, 255, 255);
  width:17px;
  height:17px;
  top:2px;
  left:2px;
  border-radius:50%;
  position:absolute;
  transition: transform 0.2s linear;
  z-index: 15;
}

.buttonHolder{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.share_div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  width: 100%;
}
.necessary {
  letter-spacing: 0.2em;
  width: 50%;
  padding-top: 10%;
  font-size: 20px;
}
.necessaryy {
  letter-spacing: 0.1em;
  line-height: 30px;
  width: 50%;
  padding-top: 1%;
  text-align: justify;
  color: rgb(109, 109, 109);
}
.Share_social {
  position: relative;
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}


	.button{
		background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
		background-image: linear-gradient(top, #f4f1ee, #fff);
		border-radius: 50%;
		box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
		float:left;
		height: 70px;
		position: relative;
		width: 70px;			
		-webkit-transition: all .1s linear;
		transition: all .1s linear;
   margin-top: 20%;
   z-index: 10;
	}
	.button:after{
		color:#e9e6e4;
		content: "";
		display: block;
		font-size: 30px;
		height: 30px;
		text-decoration: none;
		text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
		position: absolute;
		width: 30px;
	}
	.heart:after{
		content: "❤";
		left: 21px;
		top: 30%;
	}
	.button:hover{
		background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
		background-image: linear-gradient(top, #fff, #f4f1ee);
		color:#0088cc;
	}
	.heart:hover:after{
		color:#f94e66;
		text-shadow:0px 0px 6px #f94e66;
	}
	.flower:hover:after{
		color:#f99e4e;
		text-shadow:0px 0px 6px #f99e4e;
	}
	.tick:hover:after{
		color:#83d244;
		text-shadow:0px 0px 6px #83d244;
	}
	.cross:hover:after{
		color:#eb2f2f;
		text-shadow:0px 0px 6px #eb2f2f;
	}
	
	.button:active{
		background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
		background-image: linear-gradient(top, #efedec, #f7f4f4);
		box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
   display: flex;
   align-items: center;
   justify-content: center;
	}
	.button:active:after{
		color:#dbd2d2;
		text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
   display: flex;
   align-items: center;
   justify-content: center;
	}
 

    .Image18_text {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      text-align: center;
      line-height: 25px;
    }

    $color-codepen: #000;
$color-github: #4284c0;
$color-twitter: #2b97f1;
$color-dribbble: #ef5a92;
$color-instagram: #527fa6;
$color-linkedin: #006599;
$color-facebook: #3b5a9b;

/* Social Icon Mixin */
@mixin social-icon($color) {
  background: $color;
  color: #fff;

  .tooltip {
    background: $color;
    color: currentColor;

    &:after {
      border-top-color: $color;
    }
  }
}

/* Social Icons */
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
  width: 100%;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: 'Libre Baskerville', serif;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;

  &:hover {
    color: #fff;

    .tooltip {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -150%);
    }
  }
    
  &:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  }
  
  &--linkedin { @include social-icon($color-linkedin); }
  &--twitter { @include social-icon($color-twitter); }
  &--codepen { @include social-icon($color-codepen); }
  &--facebook { @include social-icon($color-facebook); }
  &--instagram { @include social-icon($color-instagram); }
  &--dribbble { @include social-icon($color-dribbble); }
  &--github { @include social-icon($color-github); }
  
  i {
    position: relative;
    top: 1px;
  }
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
  
  &:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
}

.Svg_social {
  fill: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Images-6-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  z-index: 10;
}