@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.Rolex_main {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  font-family: 'Roboto', sans-serif;

}

.Rolex_11 {
  width: 100%;
  height: 780px;
}

.Video_Rolex2 {
  width: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
  filter: brightness(0.4);
}
.World_div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
  row-gap: 20px;
  height: 100%;
}
.World {
  z-index: 100;
  color: white;
  letter-spacing: 0.2em;
  font-size: 45px;
}
.Worldd {
  z-index: 100;
  color: white;
  letter-spacing: 0.2em;
  font-size: 22px;
}
.Rolex3 {
  text-align: justify;
  padding-left: 25%;
  padding-right: 25%;
  font-family: 'Montserrat', sans-serif;
  line-height: 45px;
  padding-top: 5%;
}
.Rolex4 {
  text-align: justify;
  padding-left: 25%;
  padding-right: 25%;
  font-family: 'Montserrat', sans-serif;
  line-height: 45px;
  padding-top: 1%;
}
.Rolex5 {
  text-align: justify;
  padding-left: 17%;
  padding-right: 25%;
  line-height: 45px;
  letter-spacing: 0.1em;
  padding-top: 3%;
}
.Rolex6 {
  text-align: justify;
  padding-left: 5%;
  padding-right: 25%;
  line-height: 45px;
  letter-spacing: 0.1em;
  padding-top: 10%;
}
.Rolex_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Rolex_Image1 {
  border-radius: 20px;
  width: 10px;
}





.container {
  display: flex;
  width: 100%;
  padding: 0% 15%;
  box-sizing: border-box;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  line-height: 0;
}

   .box > img {
     width: 100%;
     height: 100%;
     object-fit: cover; 
     transition: .5s;
   }
   
   .box > span {
     font-size: 3.8vh;
     display: block;
     text-align: center;
     height: 10vh;
     line-height: 2.6;
   }
   
   .box:hover { flex: 1 1 50%; }
   .box:hover > img {
     width: 100%;
     height: 120%;
   }



   .container2 {
    display: flex;
    width: 100%;
    padding: 0% 2%;
    box-sizing: border-box;
    height: 50%;
  }
  
  .box2 {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    line-height: 0;
    height: 400px;
  }
  
     .box2 > img {
       width: 100%;
       height: calc(100% - 5vh);
       object-fit: cover; 
       transition: .5s;
     }
     
     .box2 > span {
       display: block;
       text-align: center;
       height: 10vh;
       line-height: 2.6;
     }
     
     .box2:hover { flex: 1 1 50%; }
     .box2:hover > img {
       width: 80%;
       height: 100%;
     }

     .Rolex_down {
      margin-top: 5%;
      margin-left: 1%;
      z-index: 10;
      letter-spacing: 0.2em;
     }
     
     .Rolex_down2 {
      margin-top: 2%;
      margin-left: 1%;
      z-index: 10;
      letter-spacing: 0.2em;
     }
     .Rolex_down3 {
      margin-top: 2%;
      margin-left: 1%;
      z-index: 10;
      letter-spacing: 0.2em;
     }

     .Rolex_down4 {
      margin-top: 1%;
      margin-left: 1%;
      z-index: 10;
      letter-spacing: 0.2em;
     }
     .Helper {
      height: 100px;
     }
     .container3 {
      display: flex;
      width: 100%;
      padding: 0% 2%;
      box-sizing: border-box;
    }
    
    .box3 {
      flex: 1;
      overflow: hidden;
      transition: .5s;
      margin: 0 2%;
      line-height: 0;
      height: 400px;
    }
    
       .box3 > img {
         width: 100%;
         height: calc(100% - 5vh);
         object-fit: cover; 
         transition: .5s;
       }
       
       .box3 > span {
         display: block;
         text-align: center;
         height: 10vh;
         line-height: 2.6;
       }
       
       .box3:hover { flex: 1 1 50%; }
       .box3:hover > img {
         width: 100%;
         height: 120%;
       }


       .container4 {
        display: flex;
        width: 100%;
        padding: 0% 15%;
        box-sizing: border-box;
      }
      
      .box4 {
        flex: 1;
        overflow: hidden;
        transition: .5s;
        margin: 0 2%;
        line-height: 0;
      }
      
         .box4 > img {
           width: 100%;
           height: calc(100% - 5vh);
           object-fit: cover; 
           transition: .5s;
         }
         
         .box4 > span {
           display: block;
           text-align: center;
           height: 10vh;
           line-height: 2.6;
         }
         
         .box4:hover { flex: 1 1 50%; }
         .box4:hover > img {
           width: 100%;
           height: 110%;
         }