@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.Navbar_main {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100px;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  position: fixed;
  top: 0;
  z-index: 55;
  transition: 1s;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(0, 0, 0,);
}
ul {
  list-style: none;
  display: flex;
  column-gap: 20px;
}
.Logo_rolex {
  margin: auto;
}
.logo {
  fill: rgb(255, 0, 0);
}
.Search_navbar {
  fill: white;
  padding-left: 30px;
  cursor: pointer;
}

.languages_svg {
  fill: white;
}

.Box_en {
  background-color: rgb(0, 0, 0,0);
  border: none;
  color: rgb(242, 242, 242);
  position: relative;
  padding-left: 20px;
  fill: black;
  width: 100px;
  bottom: 5px;
}


.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding-bottom: 5%;
  position: fixed;
  top: -300px;
  transition: all 0.5s cubic-bezier(.29,.04,.52,1);
  backdrop-filter: blur(1px);
  background-color: white;
  z-index: 30;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.content1 {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100%;
}

.Rolex_1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.Rolex_1_svg {
  position: fixed;
  right: 5vw;
  cursor: pointer;
  z-index: 100;
}
.Rolex_2 {
  padding-top: 5%;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}
.Input_search{
  width: 550px;
  height: 30px;
  padding-left: 0.5%;
}
.Button_search {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  background-color: rgb(18, 120, 74);
  border: 1px solid rgb(18, 120, 74);
  margin-left: 0.5%;
  cursor: pointer;
}

.Svg_button_search {
  fill: white;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Right_Nav {
  display: flex;
}

// hamburger menu

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(176, 92, 255);
  border-radius: 4px;
  
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}

@media only screen and (max-width: 1000px) { 
  ul {
    display: none;
  }
  .Right_Nav {
    display: none;
  }
  .Switch_main {
    display: none;
  }
}